version: "3"

services:
  django:
    image: django-docker:0.0.1
    build: .
    ports:
      - 8001:8000
    command: sh -c "python dabstar_wedsite/manage.py migrate && python dabstar_wedsite/manage.py runserver 0.0.0.0:8000"