:root {
    --whitish1: #ede8e2;
    --whitish2: #efe7df;
    --whitish3: #e8d9c9;
    --brown1: #e5cbb3;
    --brown2: #c7b09a;
    --brown3: #ad9985;
    --brown4: #847363;
    --brown5: #5e4f3f;
    --nav: rgba(147, 103, 72, 0.5);
    --nav-darker: rgba(147, 103, 72, 0.7);
    --paar-wand: #ECE3D8;

    --header-padding: 0.2rem 5rem;
    --content-padding: 3.5rem 5rem;
    --button-padding: 0.5rem 1.25rem;
    --transition-speed: 0.3s ease;
}

/* \forall */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--brown4);
    
}

a:hover,
a:active,
a:focus {
    color: black;
}

#caption {
    font-size: 5rem;
}

.maps-embed {
    border-radius: 2rem;
}

.darker {
    filter: brightness(50%);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--whitish2);
    font-size: 1.5rem;
    font-family: "Neutraface 2 Text Light";
}

/* reusable container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-ghost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    position: relative;
    left: 20%;
    list-style-position: inside;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

/* Header styles */
.header {
    position: fixed;
    z-index: 99;
    top: 2rem;
    width: 70%;
    right: 15%;
    padding: var(--header-padding);
    background-color: var(--nav);
    backdrop-filter: blur(1rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 1.25rem;
}

.header a {
    text-decoration: none;
    color: white;
}

img {
    height: 250px;
}

.error-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: opacity 1s ease;
}

.error-content {
    background-color: var(--nav-darker);
    backdrop-filter: blur(0.5rem);
    padding: 5rem;
    border-radius: 2rem;
    max-width: 75%;
    text-align: center;
    box-shadow: 0 4px 6px var(--brown5);
}

.paar-back-container {
    z-index: -9;
    position: relative;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paar-back-container img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.container .deco {
    width: 50%;
    object-fit: contain;
    opacity: 0.5;
    height: 5rem;
}

section {
    margin: 3rem 0;
}

#story-sec,
#rsvp {
    width: 100%;
}

#story,
.rsvp-form-container {
    text-align: center;
    width: 75vw;
    margin: 5rem 0rem;
    border-radius: 2rem;
    padding: var(--content-padding);
    background-color: var(--nav);
    backdrop-filter: blur(4rem);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 2.5rem;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

#story-sec h2 {
    margin-bottom: 2.5rem;
}

button,
#rsvp-nav {
    background-color: var(--nav-darker);
    padding: var(--button-padding);
    border-radius: 0.75rem;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

button:hover,
#rsvp-nav:hover {
    background-color: var(--brown5);
    transform: scale(1.25);
}

.rsvp-form input,
.rsvp-form textarea {
    border-radius: 1rem;
    padding: 0.5rem;
}

.errortext {
    color: red;
}

#location img {
    width: 100%;
    margin: 1rem 0;
}

.curtain {
    z-index: 990;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.curtain-overlay {
    color: var(--brown1);
    z-index: 999;
    text-align: center;
    font-size: 5rem;
    font-family: "Coneria Script Demo";
    opacity: 0;
    transition: opacity 1s ease;
}

.curtain-overlay.hide {
    animation: overlay-reinraus 2s ease;
}

@keyframes overlay-reinraus {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.curtain-left,
.curtain-right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    transform: translateX(0);
}

.curtain-left {
    left: 0;
    animation: slide-left 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    animation-delay: 3s;
}

.curtain-right {
    right: 0;
    animation: slide-right 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    animation-delay: 3s;
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

#location {
    width: 90%;
    left: 5%;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.carousel {
    display: flex;
    animation: scroll-carousel 40s linear infinite;
}

.carousel img {
    width: 300px;  /* Feste Breite für jedes Bild */
    object-fit: cover;
    border-radius: 1rem;
    border: 1rem solid transparent;
}

@keyframes scroll-carousel {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.card-container {
    width: 350px;
    height: 500px;
    background-color: var(--brown2);
    perspective: 800px;
    border-radius: 2.5rem;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    border-radius: 2.5rem;
    overflow: hidden;
    transform: rotateZ(-10deg);
}

.card-container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(160deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    backface-visibility: hidden;
}

.front img,
.back img {
    height: 100%;
    object-fit: cover;
}

.back {
    transform: rotateY(180deg) rotateZ(180deg);
}