{% extends "wedsite/layout.html" %}

{% load static %}

{% block body %}

<div class="curtain">
    <div class="curtain-left"></div>
    <div class="curtain-right"></div>
    <div class="curtain-overlay">
        <h1 id="caption">Nia & Daniel</h1>
    </div>
</div>

<section id="who" class="container">
    <div class="paar-back-container">
        <img id="paar-back" src="{% static 'wedsite/imgs/paar-h.jpeg' %}">
    </div>
</section>

<section id="story-sec" class="container">
    <div id="story">
        <h2>Manchmal trifft man die Liebe seines Lebens auf den unerwartetsten Wegen...</h2>
        <p>
            Unsere Geschichte begann dank eines gemeinsamen Freundes und eines spontanen Abends in Köln.
            <br>
            An einem lauen Abend war Nia mit unserem gemeinsamen Freund verabredet, und sie entschieden sich, zusammen feiern zu gehen. Ich hingegen hatte Langeweile und rief diesen Freund an, um zu fragen, was er gerade mache. Er erzählte mir, dass er in Köln bei einer Freundin sei.
            <br><br>
            Spontan fragte ich: "Kannst du sie mal fragen, ob es okay ist, wenn ich mitkomme?" Nia hatte kein Problem damit und meinte: "Klar, komm gerne mit."
            <br>
            So zogen wir zu dritt los und landeten in einem Club. Doch das Feiern entsprach nicht ganz meinen Vorstellungen. Um den Abend spannender zu gestalten, fragte ich Nia: "Sollen wir für den Abend so tun, als wären wir ein Paar?" Nia fand die Idee lustig und willigte ein. Was als Spiel begann, fühlte sich überraschend schnell sehr natürlich und richtig an.
            <br><br>
            Von diesem Moment an ließen wir einander nicht mehr los. Es war, als hätte das Schicksal uns zusammengeführt. 
            <br>
            Ein Jahr später zogen wir gemeinsam nach Aachen.
            <br>
            Vier Jahre später machte ich Nia einen Heiratsantrag, und fünf Jahre nach unserem Kennenlernen geben wir uns das Ja-Wort beim Standesamt.
            <br><br>
            <img class="deco" src="{% static 'wedsite/imgs/deco-br.png' %}">
            <br><br>
            <strong>Im sechsten Jahre nach diesem schicksalhaften Abend, möchten wir unser Glück mit unserer Familie und unseren Freunden feiern. Wir freuen uns darauf, diesen besonderen Moment mit euch allen zu teilen und die Liebe zu zelebrieren, die an einem spontanen Abend in Köln ihren Anfang fand.</strong>
        </p>
    </div>
</section>

<section id="location" class="container-ghost">
    <h1>Location</h1>
    <p>
        Wir möchten gemeinsam mit euch in der <a href="https://maps.app.goo.gl/genLHAAcrGYSRbYu5?g_st=i&utm_campaign=ac-im" target="_blank">LA VIE Eventlocation</a> in Frechen feiern.
    </p>
    <div class="carousel-container">
        <div class="carousel">
            <img src="{% static 'wedsite/imgs/location-outside.jpeg' %}">
            <img src="{% static 'wedsite/imgs/location-inside_1.jpeg' %}">
            <img src="{% static 'wedsite/imgs/location-inside_2.jpeg' %}">
            {% comment %} <img src="{% static 'wedsite/imgs/location.jpeg' %}"> {% endcomment %}
            <img src="{% static 'wedsite/imgs/location-outside.jpeg' %}">
            <img src="{% static 'wedsite/imgs/location-inside_1.jpeg' %}">
            <img src="{% static 'wedsite/imgs/location-inside_2.jpeg' %}">
            {% comment %} <img src="{% static 'wedsite/imgs/location.jpeg' %}"> {% endcomment %}
            <img src="{% static 'wedsite/imgs/location-outside.jpeg' %}">
            <img src="{% static 'wedsite/imgs/location-inside_1.jpeg' %}">
            <img src="{% static 'wedsite/imgs/location-inside_2.jpeg' %}">
            {% comment %} <img src="{% static 'wedsite/imgs/location.jpeg' %}"> {% endcomment %}
            <img src="{% static 'wedsite/imgs/location-outside.jpeg' %}">
            <img src="{% static 'wedsite/imgs/location-inside_1.jpeg' %}">
            <img src="{% static 'wedsite/imgs/location-inside_2.jpeg' %}">
            {% comment %} <img src="{% static 'wedsite/imgs/location.jpeg' %}"> {% endcomment %}
        </div>
    </div>
</section>

<section id="menu" class="menu-container">
    <h1>Menü</h1>
    <p>Klicke oder hovere über die Karte fürs Hauptmenü. Klicke dann an eine andere Stelle zum Schließen.</p>
    <div class="card-wrapper">
        <div class="card-container">
            <div class="card">
                <div class="front">
                    <img src="{% static 'wedsite/imgs/menu_1.PNG' %}">
                </div>
                <div class="back">
                    <img src="{% static 'wedsite/imgs/menu_2.PNG' %}">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="rsvp" class="container">
    <div class="rsvp-form-container">
        <div class="rsvp-form">
            <h1>Zusagen | Absagen</h1>
            <p>
                Wir freuen uns, wenn ihr uns bis zum 01. April Bescheid gebt.
                <br>
                Updates zum Ablauf des Tages und weitere Informationen folgen an die Email.
            </p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Abschicken!</button>
            </form>
            <p><br>Bitte schickt das Formular auch bei einer Absage ab.</p>
        </div>
    </div>
</section>

<section id="ablauf">
    <div class="container-ghost">
        <h1>Ablauf</h1>
        <ul>
            <li>XX:XX Uhr - Infos kommen demnächst</li>
        </ul>
    </div>
</section>

<section id="dropzone" class="container-ghost">
    <h1>Dropzone</h1>
    <p><a href={{dropzone_url}}>Hier</a> könnt ihr uns im Nachhinein auf direktem Wege eure liebsten Fotos und Videos der Hochzeit zukommen lassen:</p>
    <br>
    <div class="card-wrapper">
        <div class="card-container">
            <div class="card">
                <div class="front">
                    <img src="{% static 'wedsite/imgs/paar-v.jpeg' %}">
                </div>
                <div class="back">
                    <img src="{% static 'wedsite/imgs/paar-square.jpeg' %}">
                </div>
            </div>
        </div>
        <div class="card-container" id="qr-card-container">
            <div class="card">
                <div class="front">
                    <img class="qr-code" src="data:image/png;base64,{{ qr_img }}" alt="QR Code">
                </div>
                <div class="back">
                    <img class="qr-code" src="data:image/png;base64,{{ qr_img }}" alt="QR Code">
                </div>
            </div>
        </div>
</section>

<br><br>

{% endblock %}