{% extends "wedsite/layout.html" %}

{% load static %}

{% block body %}

<section id="who">
    <img src="{% static 'wedsite/imgs/paar-h.jpeg' %}">
    <img src="{% static 'wedsite/imgs/paar-v.jpeg' %}">
    <img src="{% static 'wedsite/imgs/paar-square.jpeg' %}">
</section>

<section id="story">
    <h1>Unsere Story</h1>
    <p>
        Manchmal trifft man die Liebe seines Lebens auf den unerwartetsten Wegen. Unsere Geschichte begann dank eines gemeinsamen Freundes und eines spontanen Abends in Köln.
        <br>
        An einem lauen Abend war Nia mit unserem gemeinsamen Freund verabredet, und sie entschieden sich, zusammen feiern zu gehen. Ich hingegen hatte Langeweile und rief diesen Freund an, um zu fragen, was er gerade mache. Er erzählte mir, dass er in Köln bei einer Freundin sei. Spontan fragte ich: "Kannst du sie mal fragen, ob es okay ist, wenn ich mitkomme?" Nia hatte kein Problem damit und meinte: "Klar, komm gerne mit."
        <br>
        So zogen wir zu dritt los und landeten in einem Club. Doch das Feiern entsprach nicht ganz meinen Vorstellungen. Um den Abend spannender zu gestalten, fragte ich Nia: "Sollen wir für den Abend so tun, als wären wir ein Paar?" Nia fand die Idee lustig und willigte ein. Was als Spiel begann, fühlte sich überraschend schnell sehr natürlich und richtig an.
        <br>
        Von diesem Moment an ließen wir einander nicht mehr los. Es war, als hätte das Schicksal uns zusammengeführt. 
        Ein Jahr später zogen wir gemeinsam nach Aachen. 
        Vier Jahre später machte ich Nia einen Heiratsantrag, und fünf Jahre nach unserem Kennenlernen geben wir uns das Ja-Wort beim Standesamt.
        Im sechsten Jahre nach diesem schicksalhaften Abend, möchten wir unser Glück mit unserer Familie und unseren Freunden feiern. Wir freuen uns darauf, diesen besonderen Moment mit euch allen zu teilen und die Liebe zu zelebrieren, die an einem spontanen Abend in Köln ihren Anfang fand.
    </p>
</section>

<section id="location">
    <h1>Die Location</h1>
    <p>
        {% comment %} TODO {% endcomment %}
        Wir möchten gemeinsam mit euch feiern in ...
    </p>
    <img src="{% static 'wedsite/imgs/location-outside.jpeg' %}">
	<img src="{% static 'wedsite/imgs/location-inside_1.jpeg' %}">
    <img src="{% static 'wedsite/imgs/location-inside_2.jpeg' %}">
</section>

<section id="menu">
    <h1>Das Menü</h1>
   <img src="{% static 'wedsite/imgs/menu_1.PNG' %}">
   <img src="{% static 'wedsite/imgs/menu_2.PNG' %}">
</section>

<section id="rsvp">
    <h1>RSVP</h1>
    <p>
        Wir freuen uns, wenn ihr uns bis zum ... Bescheid gebt ...
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Abschicken!</button>
    </form>
</section>


{% endblock %}