{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DabStar Wedding{% endblock %}</title>

	<link rel="Icon" href="{% static 'wedsite/imgs/favicon.ico' %}" type="image/x-icon">

	{% comment %} Neutraface 2 Text Light Font {% endcomment %}
	<link href="https://db.onlinewebfonts.com/c/1fa296e1a7aff9cbb2e6bf74e4a5282e?family=Neutraface+2+Text+Light" rel="stylesheet">
	{% comment %} Neutraface 2 Text Bold Font {% endcomment %}
	<link href="https://db.onlinewebfonts.com/c/07bf042b884e563aa8f7a9062bfc8834?family=Neutraface2Text-Bold" rel="stylesheet" type="text/css"/>

	{% comment %} Coneria Script Font {% endcomment %}
	<link href="https://db.onlinewebfonts.com/c/8636b0a53429bdc062863b2304df8070?family=Coneria+Script+Demo" rel="stylesheet">
	
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<!-- own styles -->
	<link rel='stylesheet' href="{% static 'wedsite/styles_nico.css' %}">
</head>

<body>

{% if errors %}"
	<div id="error-container" class="error-container">
		<div class="error-content">
			<h3>Oh no, mindestens ein Fehlerleinchen ist aufgetreten:</h3>
			<ul class="errorlist">
				{% for field, error_list in errors.items %}
					{% for error in error_list %}
						<p class="errortext">{{ error }}</p>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}

<section id="who" class="container">
    <div class="paar-back-container">
        <img id="paar-back-h" class="paar-back" src="{% static 'wedsite/imgs/paar-h.jpeg' %}">
		<img id="paar-back-v" class="paar-back" src="{% static 'wedsite/imgs/paar-v.jpeg' %}">
    </div>
</section>

{% block body %}
{% endblock %}

<hr>

<div class="footer">
	<p>Made with &lt;3 by a cousin. View it on <a href="https://github.com/nico-fst/dabstar-wedding.de" target="_blank">Github</a></p>
</div>

</body>

<script src="{% static 'wedsite/main_nico.js' %}"></script>

</html>