{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <title>{% block title %}DabStar Wedding{% endblock %}</title>

	<link rel="Icon" href="{% static 'wedsite/imgs/favicon.ico' %}" type="image/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<!-- own styles -->
	<link rel='stylesheet' href="{% static 'wedsite/styles_nico.css' %}">
</head>

<body>

<header class="header">
	<nav class="navbar">
		<a href="#story">Story</a>
		<a href="#location">Location</a>
		<a id="rsvp-nav" href="#rsvp">RSVP</a>
		<a href="#menu">Menü</a>
		<a href="mailto:he_was_willst_du@example.com">Kontakt</a>		
	</nav>

</header>

	{% if errors %}
		<h3>Oh no, mindestens ein Fehlerleinchen ist aufgetreten:</h3>
        <ul class="errorlist">
            {% for field, error_list in errors.items %}
				{% for error in error_list %}
					<p class="errortext">{{ error }}</p>
				{% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

	{% block body %}
	{% endblock %}

</body>

</html>