{% extends "wedsite/layout.html" %}

{% load static %}
{% load i18n %}

{% block body %}

<section id="who" class="container">
    <div class="paar-back-container">
        <img class="paar-back" src="{% static 'wedsite/imgs/meinlieblingsbild.jpeg' %}">
    </div>
</section>

<div class="curtain">
    <div class="curtain-left"></div>
    <div class="curtain-right"></div>
    <div class="curtain-overlay">
        <h1 id="caption">{% trans "Danke" %}</h1>
    </div>
</div>

<header class="header">
	<nav class="navbar">
		<a href="{% url 'wedsite:index' %}">&gt;</a>
		<a href="{% url 'wedsite:index' %}">&gt;</a>
		<a id="rsvp-nav" href="{% url 'wedsite:index' %}">Startseite</a>
		<a href="{% url 'wedsite:index' %}">&lt;</a>
		<a href="{% url 'wedsite:index' %}">&lt;</a>		
	</nav>
	<div class="hamburger" id="hamburger">&#9776;</div>
</header>

<section id="story-sec" class="container">
    <div id="story">
        <h2>{% trans "Danke fürs Abschicken" %}</h2>
        <p>
            {% trans "Und noch ein kleiner Tipp: Falls ihr noch nicht wisst, was ihr Nia & Daniel schenken wollt, könnt ihr sie mit einem Zuschuss zur Finanzierung glücklich machen :)." %}
        </p>
    </div>
</section>

{% endblock %}